
body {
    font-family:cairo;
    font-weight: 700;
}
/* Start Nav */
.navbar-brand > span {
    font-size: 32px;
}
/*الوان اللوجو*/
.navbar-brand span:first-child {
    color:#08526d;
    font-weight: bold;
}
.navbar-brand span:last-child {
    color:#ec1c23
}
/*الوان اللوجو*/
.navbar {
    background-color:white !important;
    

}
.navbar img {
    max-width:120px;
}
.navbar-nav {
    padding:20px;
    font-family:cairo;
}
.navbar-nav .nav-link {
    font-size: 17px;
    font-weight: bolder;

}
.form-inline button {
    color:black;
    border:1px solid #08526d;
    font-family:cairo;
}
.form-inline button:hover {
    background-color:#08526d;
    border:1px solid #08526d;

}
/* كلاس تغيير الأكاتف*/
.navbar-light .navbar-nav .active>.nav-link {
    color:#ec1c23;
}

/*كلاس تغيير لون كلام النافبار*/
.navbar-light .navbar-nav .nav-link{
    color:#08526d;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#ec1c23;
}
/* End Nav */

/*Start SLIDER*/

.slider .carousel-inner .overlay {
    position:absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, .5);
    z-index:2;
}
.slider .carousel-inner {
    background-image: url('../image/slider.jpg') ;
    background-size: cover;
    height: 610px;
    width:100%;
    z-index:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.slider  h2 {
    font-size: 62px;
    color:white;
    position: absolute;
    z-index: 3;
    margin-right:30px;
    font-weight: 590;

        }
        .slider  h2 span {
            position: absolute;
            margin-top:20px;
            height:87px;
            color:#007EDB;
            font-weight: 700;
            border-radius:5px;
        }
        .slider .btn-primary {
            position: relative;
            z-index: 3;
            margin-right:30px;
            margin-top:350px;
        }
        .slider .btn-success {
            
            position: relative;
            z-index: 3;
            margin-top:350px;
            margin-right:10px;
        }

/*End SLIDER*/
/*Start who need us*/
.who-us {
    padding-top: 40px;
    background-color:#f2f2f2;


}

.who-us img {
    max-width: 100%;
    max-height: 100%;
    height:100%;
    width:100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;


}
.who-us .col-6 {
    padding:0;
}
.who-us h1 {
text-align: right;
margin-right:10px;
background-color: #0069D9;
color:white;
padding:30px;

width:100%;
margin-top:0;
}
.who-us p {
    width:88%;
    text-align: right;
    margin-right:30px;
    line-height: 1.9;

}
/*end who need us*/
/*Start sahwa*/
.sahwa {
    box-shadow: 1px 3px 7px 0px;
    background-color:#f2f2f2;
    padding:35px;
}
.sahwa p{
    line-height: 2;
    color:#808080;
    

}
/*end sahwa*/

/*why us title*/

.who-uss {
    background-color:#0069D9;
    padding:15px;
    margin-top:20px;

    color:White;
    text-align: center;
    }
    .who-uss p{
        line-height: 2;
    }

/*why us title*/
/*start why us */

.why {
    box-shadow: -1px 3px 7px 0px;
    margin-top:20px;
}
.media {
    position: relative;
    margin-bottom:35px;
    margin-top:30px;
    

}
.media .img {
    width: 35%;
    margin-left: 10px;
    border-radius: 5px;
}
  .media  img {
    vertical-align: middle;
    border-style: none;
}
.writing {
    text-align: right;

}
.writing h4 {
    font-weight: 700;

}
.writing p {
color:#808080;
font-size:14px;

}

/*end why us */

/*TOPICS*/


/*why us title*/

.topics-title {
    margin-top:30px;
    background-color:#0069D9;
    padding:15px;
    
    color:White;
    text-align: center;
    }
    .topics-title p{
        line-height: 2;
    }

/*why us title*/
.topics {
    margin-top:30px;
    overflow: hidden;
    text-align: right;

}
.topics .card {
    border-radius: 10px;
}
.topics .card-body {
    padding:0 30px 20px 30px;
    height: 50%;

}
.topics .img-topics {
    border-radius: 10px;
    overflow: hidden;
}

.topics  .img-wrapper {
    overflow:hidden;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topics  .img-wrapper .img {
    width:100%;
    transition:all .2s;
}

.topics .img-wrapper:hover .img {
    
    transform: scale(1.2)
}

.topics h1{
     letter-spacing: -1px;
    margin-bottom: 15px;
    word-wrap: break-word;
    font-size: 23px;
    font-weight: 800;
    position: relative;
}
.topics p {
    
    font-size: 12pt;
    font-weight: 300;

}
.topics .img-topics {  
    width: 100%;
    margin-left: 10px;
    border-radius: 5px;
}
.topicss {
    margin-top: 20px;
}
/*TOPICS*/

/*Students start*/
.students {
    background-color:#0069D9;
    color:white;
    display: flex;
    padding:20px 0 20px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:20px;

}
.students i {
    color:white;
    font-size:62px;
}
.students .open-sahwa {
    font-size: 10px;
}
.students h1 {
    font-size: 20px;
    font-weight:500;
}
/*Students End*/

/*Feeds*/

.feeds {
margin-top:40px;
background-size: cover;
background-image:url('../image/back.jpg');
position: relative;
padding: 50px 0;
background-blend-mode: overlay;
background-attachment: fixed;
background-color: rgba(0,0,0,.7);
}
.feeds .box {
    
    text-align: center;
    margin-bottom: 65px;
}
.feeds h2 {
    
    font-weight: 700;
    color: #fff;
}
.feeds .content-1 {
    
    width: 60%;
    margin: 0 auto;
    color: #ddd;
}
.feeds .carousel-item .main-wrapper {
    display:flex;
}
.feeds .carousel-item .img-wrapper .img {
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
}
.feeds .carousel-item .info-wrapper {
    
    padding: 15px;
    background-color: #fff;
    border-radius: 25px;
    width: 80%;
    margin-right: 60px;
    text-align: center;
    position: relative;
    border: 2px solid #0069D9;
}
.feeds .carousel-item .info-wrapper .content {
    
    color: #000;
    font-weight: 700;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}
.feeds .carousel-item .info-wrapper .title {
    
    font-size: 15px;
    color: #808080;
    font-weight: 700;
}
.feeds .carousel-inner {
    height:200px;
}

/*FEEDS*/
/*who need us */

/*Start who need us*/
.register {
    padding: 40px;
    background-color:#f2f2f2;
    box-shadow: 1px 2px 5px 1px;
    margin-bottom:20px;
     }


.register h1 {
text-align: right;
margin-right:10px;
background-color: #0069D9;
color:white;
padding:30px;
width:100%;
margin-top:0;
}
.register p {
    width:88%;
    text-align: right;
    margin-right:30px;
    line-height: 1.9;

}
/*end who need us*/
/*who need us*/
/*Footer*/

.copyright {
    padding:20px;
    font-size:17px;
    background-color:#f2f2f2;
}
.copyright ul {
    margin:0;
}
.copyright ul li {
    display: inline-block;
}
.copyright .col {
    color:#5b5b5b;
}
.copyright i:hover {
    color:black;
    transition: all 0.5s ease-in-out
}
.copyright ul li a {
    color:#777;
    font-size:18px;
    margin-left:20px;
    display: inline-block;


}
.footer .contact-wrapper ul {
    padding-right: 40px;
}

/*Footer*/